<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET.Core" version="6.1.1" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.23.2" targetFramework="net472" />
  <package id="NLog" version="4.7.7" targetFramework="net472" />
  <package id="OpenTK" version="3.3.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="5.0.1" targetFramework="net472" />
</packages>